@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

@media only screen and (max-width: 768px) {
  .app {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
}
